<div class="category-page">
  <p>Home/{{category.name}}</p>
<h1>{{category.page_title}}</h1>
<p>{{category.page_description}}</p>
  <ul>
    {{#each category.categories}}
      <li><a href="/{{this.parent_category_id}}/{{this.id}}">{{this.name}}</a></li>
    {{/each}}
  </ul>

</div>