<div class="product-page">
  <p>Home/{{subcategName}}/{{title}}</p>
  <div class="product-page-grid">
    <div class="product-page-img">
      {{#assign "largeImageFound" ""}}{{/assign}}
      {{#each product.image_groups}}
        {{#unless @root.largeImageFound}}
          {{#ifeq this.view_type "large"}}
            {{#with images.[0]}}
              {{#assign "largeImageFound" "true"}}{{/assign}}
              <img
                src="../../../images/{{link}}"
                alt="Product Image"
                class="product-page-img"
              />

            {{/with}}
          {{/ifeq}}
        {{/unless}}

      {{/each}}
    </div>
    <div class="product-info">
      <p class="product-page-name">{{product.name}}</p>
      <p class="product-page-desc">{{product.page_description}}</p>
      <div class="buy-price">
        <button class="buy-button view-products">Buy now</button>
        <div class="price-container">
          <p class="price">Price:<span class="currency-symbol"> $ </span><span class="price-amount">{{product.price}}</span></p>
           <select id="currency-selector">
      <option value="USD" >USD</option>
      <option value="EUR">EUR</option>
      <option value="RON" >RON</option>
      <option value="GBP">GBP</option>
    </select>
    </div>
      </div>
    </div>
  </div>
</div>