<div class="products-page">

  <p>Home/{{linkCateg}}/{{linkCateg2}}/{{linkSubcateg}}</p>

  <ul class="products-list">
    {{#each products}}
    <li>
      <p class="product-name">{{this.name}}</p>
      <div class="product">
        <div  class="product-img">
          {{#assign 'mediumImageFound' ''}}  
           {{/assign}}   
          {{#each image_groups}}  
          {{#unless @root.mediumImageFound}}
          {{#ifeq this.view_type "medium"}}        
          {{#with images.[0]}} 
           {{#assign 'mediumImageFound' 'true'}}  
           {{/assign}}        
           <img src="../../images/{{link}}" alt="Product Image" class="product-img"> 
            
          {{/with}}
          {{/ifeq}}
            {{/unless}}

          {{/each}}
        </div>

        <div>

          <p class="product-desc">{{this.page_description}}</p>
          <div class="price-info">
            {{#ifeq this.currency "USD"}}
            <p>Price: $ {{this.price}}</p>
            {{/ifeq}}
            <a href="/{{../rootRoute}}/{{../linkCateg2ID}}/{{this.primary_category_id}}/{{this.id}}" class="more-info">
              <button class="more-info view-products">More Info</button>
            </a>
          </div>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>

</div>