<div class="subcategory-page">
  <p>Home/{{linkCateg}}/{{category.name}}</p>
<h1>{{category.page_title}}</h1>
<p>{{category.page_description}}</p>
{{#if subcategoryImg}}
<img src="../images/{{subcategoryImg}}" class="subcategory-img">
 {{/if}}
  <ul class="subcategory-list">
    {{#each category.categories}}
      <li class="subcategory">
         
        <p class="subcategory-name">{{this.name}}</p>
      <div>
        {{#if this.image}}

        <img src="../images/{{this.image}}" class="subcategory-img">
         {{/if}}

        </div>
      <p>{{this.page_description}}</p>
      <a href="/{{../rootRoute}}/{{this.parent_category_id}}/{{this.id}}">
      <button class="view-products">View products</button>
      </a>
     
      </li>
    {{/each}}
  </ul>
  
</div>
